.ticketsSummary{
    padding-bottom: 2rem;
    font-size: 1.5rem;
    color: royalblue;
    text-align: center;
}
.summary{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 40rem;
    padding: 2rem;
    margin: 2rem auto;
    text-align: left;
    height: 23rem;
    background: white;
}
.bookingSummary{
    width: 100vw;
    height: 100vh;
    background: slategrey;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.yourTicketInfo{
    text-align: left;
    width: 20rem;
    height: 20rem;
    margin: auto;
    line-height: 2rem;
}