$border: 0.1rem solid black;
$margin: 1rem;

.basicbutton {
    border: none;
    color: white;
    height: 2.2rem;
    padding: 0.5rem;
    text-align: center;
}
.searchbutton{
    @extend .basicbutton;
    width: 15rem;
    background: crimson;
    font-size: 1.1rem;
    margin: 1rem;
    border-radius: 0.5rem;
}

.searchbutton:hover{
   background: palegreen;
   color: black;
   cursor: pointer;
}

.search{
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center
}

.searchBox{
    width: 25rem;
    border: $border;
    margin: $margin;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 0.5rem;
}

.searchBox i{
    width: 6%;
    font-size: 1rem;
    text-align: center;
    color: red;
    position: relative;
    display: inline-block;
    
}

.searchInput{
    width: 90%;
    padding: 0.6rem 0;
    border: none;
    outline: none;
}
  .dropdown-content {
    display:block;
    position: absolute;
    top: 10rem;
    width: 25rem;
    background-color: #f1f1f1;
    min-width: 160px;
    max-height: 250px;
    overflow: scroll;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content ul {
    padding: 0;
  }

  .dropdown-content::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.dropdown-content {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
  
  /* Change color of dropdown links on hover */
  .dropdown-content li:hover {background-color: #ddd; cursor: pointer;}

  .react-datepicker__input-container input{
      width: 95%;
      height: 100%;
      border: none;
      outline: none;
      padding: 0.6rem 0;
  }

  .react-datepicker-popper{
      margin-top: 0.5rem;
  }

  .disabled {
    pointer-events:none; //This makes it not clickable
    opacity:0.6;         //This grays it out to look disabled
}